body{

     width:1000px;
     margin:0 auto;
     background-color:#000; 

}
.page{
     margin:0 auto;
}
     /*.  masthead{
     width:100%;
}
.ulStyle{
  
     text-decoration:none;


}
.liStyle{
     list-style-type:none;
     float:left;
     margin-right:10px;
}*/

/******************页面整体布局********************/
.section
{   font-family:"宋体－简","黑体",serif;  /*无衬线是sans seri*/
    font-size:20px;
    margin:0 auto;
	  clear:left;
	  float:left;
    width:100%;
    height:862px;
    background-color:#fff;
    border:1px solid #e4e4e4;	
}
.nav_banner
{
    width:100%;
    height:71px;
    background-color:#333;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    margin-top:10px;
}
.blankDiv{
    clear:left;
    float:left;
    width:100%;
    height:37px;
    /*border:1px solid red;*/
}
.section_main_left_images{
    clear:left;
    float:left;
    width:445px;
    height:183px;
    border-bottom:10px solid #00bc92;
    background-color:#fafafa;
    margin-left:19px;
    margin-top:21px;
}
.section_main_left_images  img{
    width:200px;
    height:183px;
}
.section_main_right_images
{
    float:left;
    width:445px;
    height:183px;
    border-bottom:10px solid #2695de;
    background-color:#fafafa;
    margin-left:67px;
    margin-top:21px;
}
.section_main_right_images img
{
    width:200px;
    height:183px;
}