body{
	min-width:1000px;
  min-height:804px; 
  background-color:#2d2d2d; 
}
/*#llogin_indexPage_userName
{
  clear:left;
  float:left;
}
#login_indexPage_userPassword{
  float:left;

}*/
[placeholder]
{
  font-size:20px;
  font-family:"宋体－简","黑体",serif; 
}
#login_indexPage{
   width:48%;
   min-height:297px;
   background-color:#ffffff;
   border-radius:10px;
   margin: 0 auto;
   display:flex;

}
/*.login_indexPage_userDiv{
    width:63.3333%;
    min-width:304px;  
    min-height:55px;
  
}*/


.login_indexPage_userImageDiv
{   
	  /*position:relative;*/
    display: block;
    width: 95%;
    text-align: center;
    margin: 0 auto;
    
}
.login_indexPage_userImageDiv img{
  width:10%;
  height: 100px;
}
.user_Input{
  height: 60px;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  
}